<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/karama</property>
        <property name="hibernate.connection.username">karama</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <mapping class="ru.spbau.amanov.core.Course" />
        <mapping class="ru.spbau.amanov.core.Student" />
        <mapping class="ru.spbau.amanov.core.Score" />
        <mapping class="ru.spbau.amanov.core.StatInfo" />
    </session-factory>
</hibernate-configuration>
